name: Build and Deploy

on:
#  schedule:
#    - cron: '0 4 * * *'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      force_build:
        description: 'Force the build regardless upstream has new builds'
        required: true
        type: boolean
        default: false

      ignore_merge_conflicts:
        description: 'Ignore merge conflicts and continue'
        required: false
        type: boolean
        default: false

jobs:
  # This workflow contains a single job called "build"
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Setup Maven
        uses: stCarolas/setup-maven@v4.3
        with:
          maven-version: 3.9.1
          
      - name: Configure Git
        run: |
          git config --global user.email "workflows@egithub.com"
          git config --global user.name "workflows@egithub.com"

      - name: Create revert point
        run: |
          rev=$(git rev-parse --short HEAD)
          echo "revert_rev=$rev" >> $GITHUB_ENV
          
      - name: Patch feature
        run: mvn install -Pbuild-individual-bundles,patch-phase -DskipTests
      
      - name: Check feature state
        id: feature_updated
        continue-on-error: true
        run: |
          ! git diff --exit-code ./jdt-patch-feature/feature.xml
          ! git diff --exit-code ./platform-patch-feature/feature.xml
      
      - name: Commit feature
        if: ${{ steps.feature_updated.outcome == 'success' }}
        id: feature_committed
        run: |
          git add ./jdt-patch-feature/feature.xml
          git add ./platform-patch-feature/feature.xml
          git add ./pom.xml
          git add ./proxies/org.eclipse.jdt.feature.proxy/pom.xml
          git add ./proxies/org.eclipse.jdt.feature.proxy/feature.xml
          git add ./proxies/org.eclipse.platform.feature.proxy/pom.xml
          git add ./proxies/org.eclipse.platform.feature.proxy/feature.xml
          git commit -m "Update to latest JDT feature version"
          git push origin
      
      - name: Checkout JDT modules
        if: ${{ steps.feature_updated.outcome == 'success' || github.event.inputs.force_build == 'true' }}
        run: ./scripts/checkout-modules.sh

      - name: Merge PRs
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        if: ${{ steps.feature_updated.outcome == 'success' || github.event.inputs.force_build == 'true' }}
        run: ./scripts/merge-prs.sh ${{ github.event.inputs.ignore_merge_conflicts }}

      - name: Build EAP patch
        if: ${{ steps.feature_updated.outcome == 'success' || github.event.inputs.force_build == 'true' }}
        run: mvn -U clean verify --batch-mode --fail-at-end -Pbuild-individual-bundles -Pbree-libs -Pbuild-phase -Dproject.build.sourceEncoding=UTF-8 -DskipTests

      - name: Deploy p2 site
        if: ${{ github.ref == 'refs/heads/main' && steps.feature_updated.outcome == 'success' || github.event.inputs.force_build == 'true' }}
        run: |
          mkdir -p ./p2/
          cp -r ./patch-site/target/repository ./p2/i-builds
          git add -f ./p2/i-builds/*
          git stash
          git fetch --all
          git checkout --track origin/gh-pages
          git rm -rf --ignore-unmatch ./p2/i-builds/*
          git clean -df
          git stash pop
          git add -f ./p2/i-builds/*
          git commit -m "Deploy artifacts to p2 update site"
          git push origin gh-pages
          git switch main
          
      - name: Revert if needed
        if: ${{ failure() && github.ref == 'refs/heads/main' && steps.feature_committed.outcome == 'success' }}
        run: |
          git reset --hard ${{ env.revert_rev }}
          git push origin --force
