name: Build and Deploy

on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '0 4 * * *'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  # This workflow contains a single job called "build"
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Configure Git
        run: |
          git config --global user.email "workflows@egithub.com"
          git config --global user.name "workflows@egithub.com"
      
      - name: Create revert point
        run: |
          rev=$(git rev-parse --short HEAD)
          echo "revert_rev=$rev" >> $GITHUB_ENV
          
      - name: Patch feature
        run: mvn install -Pbuild-individual-bundles,patch-phase -DskipTests
      
      - name: Check feature state
        id: feature_updated
        continue-on-error: true
        run: |
          ! git diff --exit-code ./jdt-patch-feature/feature.xml
      
      - name: Commit feature
        if: ${{ steps.feature_updated.outcome == 'success' }}
        id: feature_committed
        run: |
          git add ./jdt-patch-feature/feature.xml
          git commit -m "Update to latest JDT feature version"
          git push origin
      
      - name: Checkout JDT modules
        if: ${{ steps.feature_updated.outcome == 'success' }}
        run: ./scripts/checkout-modules.sh

      - name: Merge JDT gerrits
        if: ${{ steps.feature_updated.outcome == 'success' }}
        run: ./scripts/merge-gerrits.sh

      - name: Build EAP patch
        if: ${{ steps.feature_updated.outcome == 'success' }}
        run: mvn -Pbuild-individual-bundles,build clean install -DskipTests -e
      
      - name: Deploy p2 site
        if: ${{ github.ref == 'refs/heads/main' && steps.feature_updated.outcome == 'success' }}
        run: |
          mkdir -p ./p2/
          cp -r ./patch-site/target/site ./p2/i-builds
          git add -f ./p2/i-builds/*
          git stash
          git fetch --all
          git checkout --track origin/gh-pages
          git rm -rf --ignore-unmatch ./p2/i-builds/*
          git clean -df
          git stash pop
          git add -f ./p2/i-builds/*
          git commit -m "Deploy artifacts to p2 update site"
          git push origin gh-pages
          git switch main
          
      - name: Revert if needed
        if: ${{ failure() && github.ref == 'refs/heads/main' && steps.feature_committed.outcome == 'success' }}
        run: |
          git reset --hard ${{ env.revert_rev }}
          git push origin --force
